#node modules
node_modules

#env
.env
.env.test
.env.*.local

#Logs
logs/
*.Log
npm-debug.log*

#optional npm cache directory
.npm/

#debug files 
.vscode/

#runtime data
pids/
*.pids
*.seed
*.pid.lock